.results-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .results-element {
    position: relative;
  }
  
  .results-poster {
    height: 280px;
    width: 200px;
    transition: all 0.3s ease;
  }
  .results-poster:hover {
    filter: blur(2px);
  }

 /* Tooltip styles */
.scroll-top-button:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.image-container:hover .tooltip {
  opacity: 1; /* Add this line */
  visibility: visible; /* Add this line */
}
  
  .results-poster:hover + .tooltip {
    display: block;
  }

  .results-container {
    padding: 1rem;
  }
  .results-title span{
      color:red;
  }
  .results-title{
    padding-bottom: 30px;
    color: white;
    padding-bottom: 30px;
    position: relative;
    background: linear-gradient(30deg, red, red, transparent 80%);
    background-repeat: no-repeat;
    background-size: 80% 3px;
    background-position: bottom left; 
    margin-bottom: 30px;
  }
  
  .results-sub-type {
      text-align: center;
      padding: 0.5rem 0.8rem;
      border-radius: 5px;
      background-color: green;
      width: max-content;
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      font-size: 0.8rem;
  }

  
  
  